.TodoItem{
    background: rgb(235, 207, 86);
    color: rgb(190, 92, 92);
    width:90%;
    margin:8px auto;
    border-radius:10px;
    position: relative;
    display:flex;
    justify-content:center;
    align-items:center;
}
.TodoItem-p--complete {
    text-decoration: line-through;
    color: rgb(80, 43, 43);
  }
  
.Icon{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    font-size: 24px;
    font-weight: bold;
}

.Icon-check {
    position: absolute;
    left: 0;
  }

  .Icon-check--active {
    color: #d38825;
  }

  .Icon-delete {
    position: absolute;
    top: -4px;
    right: -10px;
  }

  .Icon-delete:hover {
    color: red;
  }