.TodoItem{
    background: rgba(255, 255, 255, 0.932);
    color: rgb(184, 99, 163);
    width:95%;
    margin:8px auto;
    border-radius:10px;
    position: relative;
    display:flex;
    justify-content:center;
    align-items:center;
}

.divTodoItem{
  position: relative;
}

.TodoItem div{
  background: rgba(255, 255, 255, 0.952);
  cursor: pointer;
  overflow: hidden;
  display:flex;
  justify-content: center;
  width:60%;
}

.TodoItem-p{
  display: inline;
  overflow: hidden;
  color: rgb(0, 0, 0);
  word-break:break-all;
  margin:10px 5px;
}
.TodoItem-p--complete {
    text-decoration: line-through;
    color: rgba(0, 0, 0, 0.459);
  }
  
.Icon{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    font-size: 24px;
    font-weight: bold;
}

.Icon-check {
    position: absolute;
    top:25%;
    left:5%;
    width:30px;
    filter: invert(52%) sepia(17%) saturate(1065%) hue-rotate(287deg) brightness(101%) contrast(86%);
  }
  
  .Icon-check--active {
    filter: invert(39%) sepia(91%) saturate(4925%) hue-rotate(328deg) brightness(98%) contrast(100%);
  }

.Icon-check:hover{
  filter: invert(39%) sepia(91%) saturate(4925%) hue-rotate(328deg) brightness(98%) contrast(100%);
}

  .Icon-delete {
    position: absolute;
    top: 25%;
    right: 5%;
    width:30px;
    filter: invert(5%) sepia(79%) saturate(3863%) hue-rotate(328deg) brightness(79%) contrast(93%);
  }

  .Icon-delete:hover {
    filter: invert(39%) sepia(91%) saturate(4925%) hue-rotate(328deg) brightness(98%) contrast(100%);
  }
