.TodoList{
    text-align:center;
    border: 5px solid rgb(214, 214, 214);
    margin:0 auto;
    border-radius:10px;
    width:80%;
}

.TodoList ul{
    display:grid;
    list-style:none;
    padding-inline-start:0px;
}