form {
    width: 90%;
    max-width: 80%;
    background-color:rgba(144, 108, 146);
    border-radius:10px;
    padding: 33px 40px;
    display: flex;
    align-content: center;
    flex-direction: column;
  }
  
  label {
    text-align: center;
    font-weight: bold;
    color: #36224b;
    font-size:25px;
    margin-bottom: 26px;
  }
  
  textarea {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0px 5px 50px rgba(39, 13, 33, 0.25);
    color: #1E1E1F;
    font-size: 20px;
    text-align: center;
    padding: 12px;
    height: 150px;
    width: calc(100%-25px);
    resize: none;
    outline:none;
  }
  
  textarea::placeholder {
  color: #5140558c;
  font-family: 'Montserrat';
  font-weight: 400;
  }
  
  
  .TodoForm-buttonContainer {
    margin-top: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .TodoForm-button {
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    color: #202329;
    font-weight: 400;
    width: 120px;
    height: 48px;
    border-radius: 4px;
    box-shadow: 0px 5px 5px #2b1c3d;
    border: none;
    font-family: 'Montserrat';
  }

  .TodoForm-button:hover{
    box-shadow: 0px 0px 2px #2b1c3d;
    transition:0.09s;
  }

  .TodoForm-button:active{
    box-shadow: 0px 0px 20px #f3a683;
    background-color: #af6a3c;
    transition:0.01s;
  }
  
  .TodoForm-button-add {
    background-color: #61DAFA;
    box-shadow: 0px 5px 25px rgba(97, 218, 250, 0.5);
  }
  
  .TodoForm-button-cancel {
    background: transparent;
  }
.Titulo{
  border-radius: 5px;
  margin-bottom:20px;
  color: #1E1E1F;
  font-size: 20px;
  text-align: center;
  padding: 12px;
  width: calc(100%-25px);
  outline:none;
}
.Titulo::placeholder{
  color: #5140558c;
}