.CreateTodoButton{
    z-index:1;
    position:fixed;
    bottom:0;
    right:0;
    width:2.5rem;
    height:2.5rem;
    border-radius:100%;
    background-color:rgb(140, 90, 153);
    border:none;
    color: white;
    font-size:2rem;
    transform: rotate(0deg);
    transition:1s ease ;
}
.CreateTodoButton:hover{
    transform: rotate(360deg);
}
.CreateTodoButton:active{
    background-color: rgb(52, 26, 73);
    border:1px solid black;
}

.CreateTodoButton:visited{
    background-color: rgb(163, 19, 19);
    border:1px solid black;
}